/* font, icon */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    /* 폰트 크기 */
    font-size: inherit;
    /* 폰트 두께 */
    font-weight: inherit;
    margin: 0;
    padding: 0;
    /* box사이즈 초기화 */
    box-sizing: border-box;
}

ul,
ol {
    /* 앞에 양식 없애기 */
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

em,
i,
address {
    font-style: normal;
}

body {
    /* 줄간 */
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* 26/16 */
/* p {
    line-height: 1.625;
} */

img {
    vertical-align: middle;
    max-width: 100%;
}